#container {
    display: flex;
    flex-flow: row wrap;
}

#container .piece {
    box-sizing: border-box;
    background-color: lightgray;
}

#container .piece.filled {
    background-color: darkgray;
}