body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px 50px 50px;
    background-color: crimson;
    border-radius: 20px;
}

#behaviorButtons {
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
}

#container .piece {
    box-sizing: border-box;
}
